.template {
    display: none;
}
#results {
    margin-top: 20px;
}
.result {
   border-radius: 3px;
   border: 1px solid #DDD;
   margin: 5px 5px 5px 20px;
   padding: 5px 5px 5px 20px;
}
.result.in-progress {
   background: url('[IMG:tengine_client-load.gif]');
   background-position: 5px 50%;
   background-repeat: no-repeat;
}
.result.statusOK {
    background-color: rgba(174, 233, 121, 0.36);
}
.result.statusKO {
    background-color: rgba(224, 114, 114, 0.25);
}

.result .title {
    margin: 5px;
    font-size: 100%;
    font-weight: bold;
}
.result .log {
    margin-left: 50px;
    font-size: 85%;
    color: #545454;  
}  
.result .clear {
    clear: both;
}
